<header>
  <h1>
    OpoServerWeb
  </h1>
</header>

<section>
  <h2>
    <%= @tournament.name %>
    <%= link_to "[edit]", edit_tournament_path(@tournament) %>
    <%= button_to "[delete]", tournament_path(@tournament),
                method: :delete,
                data: { confirm: "OK?"} %>
  </h2>
  <h3>
    Participants
  </h3>
  <ul>
    <% @tournament.players_sorted.each do |p| %>
      <li>
        <div style="float: left; width: 240px; overflow: hidden; display: inline-flex;">
          <%= p.name %>
          <%= link_to "[show]", p %>
        </div>
        <div style="float: left; width: 60px;" >
          Pts:
          <%= p.points @tournament.id %>
        </div>
        <div style="float: left; width: 120px;" >
          OMWP:
          <%= p.opponent_match_win_percentage(@tournament.id, @tournament.mwp_hash).round 3 %>
        </div>
        <div style="float: left; width: 120px;" >
          GWP:
          <%= p.game_win_percentage(@tournament.id).round 3 %>
        </div>
        <div style="float: left; width: 120px;" >
          OMWP:
          <%= p.opponent_game_win_percentage(@tournament.id, @tournament.gwp_hash).round 3 %>
        </div>
        <% @results.select{ |m| m.player_id == p.id }.each do |m| %>
          <div style="display: inline-block; width: 144px; background-color: <%= m.result_color %>; ">
            <% if m.finished? %>
              <div style="display: inline; float: left; width: 48px; padding-right: 12px; white-space: nowrap">
                <%= m.result_symbol %>
                <%= m.opponent_id %>
              </div>
              <div style="display: inline; margin-right: auto;">
                <%= m.win_count %>
                -
                <%= m.draw_count %>
                -
                <%= m.lose_count %>
              </div>
            <% else %>
              <div style="display: inline; margin-right: auto;">
                <%= m.matching_status %>
              </div>
            <% end %>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</section>
